html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: block;
}

html {
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

#submit {
    display: block;
    margin: 0.6rem auto;
    color: #6C7088;
    transform-origin: 0 0;
    transition: all .25s;
    width: 6.7rem;
    height: 2.7rem;
}

#box {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input-fill {
    width: calc(100% - 34px);
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    outline: none;
    padding: 20px 16px 6px;
    border: 1px solid transparent;
    background: #f5f5fa;
    border-radius: 10px;
    transition: border-color .25s;
}

.input-fill:placeholder-shown::placeholder {
    color: transparent;
}

.input-fill-box {
    width: 15.5rem;;
    position: relative;
    margin: 0.3rem auto;
}

.input-label {
    position: absolute;
    left: 16px;
    top: 14px;
    pointer-events: none;
    color: #BEC1D9;
    padding: 0 2px;
    transform-origin: 0 0;
    transition: all .25s;
}

.input-fill:not(:placeholder-shown) ~ .input-label,
.input-fill:focus ~ .input-label {
    transform: scale(0.75) translate(0px, -14px);
}

.input-fill:focus {
    border: 2px solid #1d31aa;
}